.about {
	background-color: $brandColor;
	&-innerwrap {
		min-height: 750px;
		padding: 87px 2px;
		max-width: 960px;
	}		
}
.team-headline {
	font-family: $latoBoldItal;
	color: $baseColor;
	margin-bottom: 40px;
	text-transform: uppercase;
	font-size: 17px;
	@include mediumDown {
		padding: 10px;
	}
}
.gallery {
	flex-basis: 31%;
	@include smallDown {
		max-width: 100%;
		height: 286px;
	}
	&-wrap {
		@include justify-content(space-between);
		@include flexbox;	
		margin: 0 auto 100px;
		@include smallDown {
			@include flex-direction(column);
			@include align-items(center);	
		}
	}
	&-inner {
		position: relative;
		&:hover .team-info {
			display: block;
			@include mediumDown {
				display: none;
			}
		}
		&:hover .gallery-image img {
			opacity: 0.3;
			@include mediumDown {
				opacity: 1;
			}
		}
	}
	&-image {
		line-height: 11px;
	}	
}
.team-info {
	position: absolute;
	top: 0;
	text-align: center;
	padding-top: 27px;
	padding: 41px 11px;	
	display: none;	
}
.social_wrap a {
	margin: 2px;
	&:hover {
		position: relative;
		top: -2px;
	}
}
.emp {
	background-color: $baseColor;
	color: $brandColor;
	text-align: center;
	font-size: 18px;
	height: 46px;
	padding: 17px 0;
	@include mediumDown {
		font-size: 16px;
	}
}
.desc {
	margin-bottom: 4%;
}