.clients {
	background-color: $brandColor;
	&-innerwrap {
		padding: 60px 0;
	}
}
.client-name {
	text-align: center;
    font-family: $latoBold;	
	color: $baseColor;
}
.company-box-wrap {
	@include flexbox;
	@include justify-content(space-between);
	margin-bottom: 40px;
	@include mediumDown {
		@include flex-direction(column);		
		@include flex-wrap(wrap);
		@include align-items(center);
	}
}
.company-box {
	@include flex-basis(32%);	
	@include mediumDown {
		margin-bottom: 20px;
	}
}
