.contact {
	background-image: url("../images/backimage2.png");
	&-innerwrap {
		padding: 85px 16px;
	}
	& .section-headline {
		color: $brandColor;
	}
	&-content {
		@include flexbox;
		@include justify-content(space-around);
		@include flex-wrap(wrap);
		padding: 24px 0;
	}
	&-data {
		color: $brandColor;
		@include flex-basis(40%);
		@include mediumDown {
			@include flex(100%);
		}
		&-text {
			margin-bottom: 33px;
		}
	}
	&-info {
		th {
		    font-family: $latoBoldItal;	    		
			vertical-align: top;
			text-align: left;
			font-size: 18px;
		}
		td {
		padding: 2px 26px 26px;
			a {
			color: inherit;
			&:hover {
				color: #e33838;
			}
		}
		@include mediumDown {
			@include flex(100%);
		}		
	}
}
	&-form {
		@include flex-basis(40%);
		textarea {
			font-family: $latoBoldItal;
			resize: none;
		}
		&-info * {
			background: $brandColor;
			color: #a0a7ad;
		    font-family: $latoBoldItal;
		    padding: 9px 7px;		    		    	
		}
		input:nth-child(-n+7) {
			width: 298px;
			height: 40px;
		}
	}
}
.cf-text {
	width: 100%;
	height: 150px;	
}
.sbm-form {
	color: $baseColor;
	width: 100px;
}