footer {
	background-color: $accentColor;	
}
.footer-innerwrap {
	@include flexbox;
	@include justify-content(space-between);
	@include flex-wrap(wrap);
	padding-top: 25px;
	height: 140px;			
	color: $brandColor;
	@include mediumDown {
		text-align: center;
	}
}
.footer-column {
	@include mediumDown {
		@include flex-basis(100%);	
	}
}