body {
	font-family: Calibri, Arial, sans-serif;
	color: #fff;	
}
.page-wrapper {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
    height: auto;
}
*::selection {
	background-color: #fb0e0e;
}
.page-width {
	max-width: 940px;
	margin: 0 auto;
}
.hand {
	cursor: pointer;
}
.divider {
	display: block;
	margin: 0 auto;
}
.section-headline {
    font-family: $latoBoldItal;		
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	color: $baseColor;
}
.section-text {
	margin: 16px 3px 40px;
	font-size: 15px;
	@include mediumDown {
		padding: 10px;
	}
}
.marks {
	font-family: $latoBold;
	background-color: $baseColor;
	color: $brandColor;
	padding: 4px 7px 7px;
}