header {
	background-color: $accentColor;
	height: 97px;
	margin-bottom: 24px;	
	@include mediumDown {
		max-height: 60px;		
	}		
}
.header-innerwrap {
	font-family: $latoBoldItal;
	@include flexbox;
	padding: 10px;
	font-size: 17px;
	text-transform: uppercase;
	color: $brandColor;
}
.logo {
	@include flex(2);
	padding: 24px 0;
}
nav {
	@include flex(3);
 ul li a {
	color: inherit;
		&:hover {
			color: #e33838;		
		}	
	}
}
.menu {
	@include flexbox;
	@include justify-content(space-between);
	@include align-items(center);
    height: 100%;
    @include mediumDown {
    	display: none;
    	@include flex-direction(column);
    	@include align-items(flex-start);
	    padding-left: 90px;
	    background: #bebebe;
    }    
}
.bars {
	@include justify-content(flex-end);
	@include align-items(center);	
	font-size: 23px;
	display: none;
	@include mediumDown {
		@include flexbox;
	}	
}



 