.slider {
	background-image: url("../images/backimage.png");
	&_innerwrap {
		@include justify-content(space-between);
		@include align-items(center);
		@include flexbox;
		height: 434px;
	}
}
.slider-left,
.slider-right {
	background-color: $brandColor;
	width: 52px;
	height: 52px;
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	&:hover {
		opacity: 0.5;
	}
	@include mediumDown {
		display: none;
	}	
}
.leftsign::selection,
.rightsign::selection {
	background-color: transparent;	
}
