.works {
	background-color: $brandColor;
	& .pages {
		margin: 38px 0 70px;
	}
	&_innerwrap {
		max-height: 1030px;
	}
	&-form {
		text-align: center;
		margin-bottom: 25px;
		select {  	
			font-size: 12.5px; 
			@include appearance;
		    background-color: #96c332;
		    color: white;
		    border: none;
		    padding: 9px 147px 6px 12px;     
			background-image: url("../images/dropDown_arrow.png");
			background-repeat: no-repeat;
			background-position: 92% 55%;
			cursor: pointer;
		}
	}
	&-gallery {
		@include flexbox;
		line-height: 0;
		@include flex-wrap(wrap);
		@include smallDown {
			@include flex-direction(column);
			@include align-items(center);
		}
		&-inner {
			@include flex(33.33%);
			@include smallDown {
				&:nth-child(n+4) {
					display: none;
				}
				&:nth-child(-n+3) {
					height: 240px;
				}
			}
		}
		&-item {
			position: relative;
			&:hover .works-info-inner {
				@include flexbox;
			}
			&:hover img {
				opacity: 0.3;
			}
		}
		@include mediumDown {
			margin-bottom: 50px;
		}
	}	
}
%works-info {	
	width: 100%;
	height: 100%;
}
.works-info {
	position: absolute;
	top: 0;
	color: #4ca59f;
	line-height: 19px;
	@extend %works-info;
	&-inner {
		@extend %works-info;
		@include flexbox;
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(center);
		display: none;
	}
	h3 {
		text-transform: uppercase;
		font-size: 21px;
	}
	div {
		font-weight: bold;
	}
	a {
		@extend %works-info;
			position: absolute;
			z-index: 1000;
	}
}
.client-info {
	color: $accentColor;
}
