.pagination {
	font-family: $latoBlackItal;
	text-align: center;
	a {
		color: #fff;
		margin: 0 3px;
		padding: 6px 11px;
		font-size: 14.58px;

		&.taken {
			background-color: #96c332;
			color: #2c3e50;
		}
		&:hover:not(.taken) {
			background-color: #748c74;
		}
	}
	@include mediumDown {
		display: none;
	}
	& .page-arrow {
    	padding: 9px 10px 3px;
	}
}
.pages {
	position: relative;
	display: inline-block;
	top: -3px;
}
