@font-face {
    font-family: 'Lato Bold';
    src: url('../fonts/LatoBold.eot');
    src: url('../fonts/LatoBold.eot') format('embedded-opentype'),
         url('../fonts/LatoBold.woff2') format('woff2'),
         url('../fonts/LatoBold.woff') format('woff'),
         url('../fonts/LatoBold.ttf') format('truetype'),
         url('../fonts/LatoBold.svg#LatoBold') format('svg');
     font-weight: 700;
     font-style: normal;
}
@font-face {
    font-family: 'Lato Bold Italic';
    src: url('../fonts/LatoBoldItalic.eot');
    src: url('../fonts/LatoBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/LatoBoldItalic.woff2') format('woff2'),
         url('../fonts/LatoBoldItalic.woff') format('woff'),
         url('../fonts/LatoBoldItalic.ttf') format('truetype'),
         url('../fonts/LatoBoldItalic.svg#LatoBoldItalic') format('svg');
     font-weight: 700;
     font-style: italic;
}
@font-face {
    font-family: 'Lato Black';
    src: url('../fonts/LatoBlack.eot');
    src: url('../fonts/LatoBlack.eot') format('embedded-opentype'),
         url('../fonts/LatoBlack.woff2') format('woff2'),
         url('../fonts/LatoBlack.woff') format('woff'),
         url('../fonts/LatoBlack.ttf') format('truetype'),
         url('../fonts/LatoBlack.svg#LatoBlack') format('svg');
     font-weight: 900;
     font-style: normal;
}
@font-face {
    font-family: 'Lato Black Italic';
    src: url('../fonts/LatoBlackItalic.eot');
    src: url('../fonts/LatoBlackItalic.eot') format('embedded-opentype'),
         url('../fonts/LatoBlackItalic.woff2') format('woff2'),
         url('../fonts/LatoBlackItalic.woff') format('woff'),
         url('../fonts/LatoBlackItalic.ttf') format('truetype'),
         url('../fonts/LatoBlackItalic.svg#LatoBlackItalic') format('svg');
     font-weight: 900;
     font-style: italic;
}