@mixin boxSize {
	-webkit-box-sizing: border-box;
        	box-sizing: border-box;
}
@mixin appearance {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}
@mixin smallDown {
	@media (max-width: $screenSmall) {
		@content;
	}
}
@mixin mediumDown {
	@media (max-width: $screenMedium) {
		@content;
	}
}