/*Font variables start*/
$latoBold: 'Lato Bold';	 
$latoBoldItal: 'Lato Bold Italic'; 
$latoBlack: 'Lato Black';	 
$latoBlackItal: 'Lato Black Italic';
/*Font variables end*/

/*Color variables start*/
$brandColor: #2c3e50;
$baseColor: #96c332;
$accentColor: #fff;
/*Color variables end*/

/*Media queries start*/
$screenSmall: 400px;
$screenMedium: 768px;
/*Media queries end*/